.title {
font-weight: 900;
font-size: 20px;
color: white;
}
.header {
    background-color: grey;
    display: flex;
    justify-content: space-around;
}
ul {
    display: flex;
    gap: 30px;
    text-decoration: none;
}
.container {
    display: flex;
    justify-content: space-between;
}
.container1{
    background-color: grey;
    display: flex;
    justify-content: space-around;
}
.Hero {
    font-size: 50px;
    color: white;
    font-weight: 900;

}
